.modal {
  width: 515px;
  height: auto;
  position: absolute;
  background: linear-gradient(62.04deg, #0f1733 2.74%, #3f2555 106.35%);
  box-shadow: 0px 2px 50px rgba(184, 124, 234, 0.54);
  border-radius: 10px;
  z-index: 10;
  animation: showModal 0.3s ease-out;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 20px;
    margin-top: 20px;
    &-a {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      color: #bebebe;
    }
  }
}
.form {
  display: none;
}
.form:target {
  display: flex;
}
.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(16, 17, 18, 0.7);
  //   background: linear-gradient(
  //     0deg,
  //     rgba(53, 14, 86, 0.3),
  //     rgba(53, 14, 86, 0.3)
  //   );
  transition: all 0.3s;
  animation: showBackdrop 0.3s ease-out;
}
@keyframes showBackdrop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showModal {
  0% {
    transform: translateZ(500px);
  }
  100% {
    transform: translateZ(0px);
  }
}
.backdrop-hide {
  opacity: 0;
}
.backdrop-hide .modal {
  opacity: 0;
  transform: translateZ(-500px);
}
.form {
  height: 585px;
  border-radius: 10px;
  &__email {
    &-int {
      background: #efefef;
      border-radius: 10px;
      width: 300px;
      height: 40px;
      border: none;
    }
  }
  &__surname {
    &-int {
      background: #efefef;
      border-radius: 10px;
      width: 133px;
      height: 40px;
      border: none;
    }
  }
  &__password {
    &-int {
      background: #efefef;
      border-radius: 10px;
      width: 300px;
      height: 40px;
      border: none;
    }
  }
  &__card {
    &-int {
      background: #efefef;
      border-radius: 10px;
      width: 300px;
      height: 40px;
      border: none;
    }
  }
  &__checkbox {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    &-text {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: #bebebe;
    }
    &-int {
      background: #bf73ff;
      width: 18px;
      height: 18px;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5px;
    row-gap: 17px;
    color: #fff;
    &-text {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      color: #bebebe;
    }
    &-btn {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #eeeeee;
      width: 300px;
      height: 60px;
      background: linear-gradient(
        180deg,
        rgba(139, 0, 255, 0.55) 0%,
        rgba(96, 60, 126, 0.55) 48.33%,
        rgba(139, 0, 255, 0.55) 100%
      );
      box-shadow: 0px 2px 17px rgba(184, 124, 234, 0.6);
      backdrop-filter: blur(15px);
      border-radius: 10px;
      border: 1px solid #3f2555;
    }
  }

  .text {
    margin-bottom: 0;
  }
}
.formModal {
  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    &-btn {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #eeeeee;
      width: 300px;
      height: 60px;
      background: linear-gradient(
        180deg,
        rgba(139, 0, 255, 0.55) 0%,
        rgba(96, 60, 126, 0.55) 48.33%,
        rgba(139, 0, 255, 0.55) 100%
      );
      box-shadow: 0px 2px 17px rgba(184, 124, 234, 0.6);
      backdrop-filter: blur(15px);
      border-radius: 10px;
      border: 1px solid #3f2555;
    }
  }
  &__password {
    &-int {
      background: #efefef;
      border-radius: 10px;
      width: 300px;
      height: 40px;
      border: none;
    }
    &-text {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 28px;
      display: flex;
      align-items: center;
      color: #bebebe;
    }
  }
  &__login {
    &-int {
      background: #efefef;
      border-radius: 10px;
      width: 300px;
      height: 40px;
      border: none;
    }
    &-text {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 28px;
      display: flex;
      align-items: center;
      color: #bebebe;
    }
  }
}
